---
layout: default
title: Pages
---

<div>
    {% assign file_name = "index" %}
    <h2>{{ site.data.page.list[file_name].zh.title }}</h2>
    <p>{{ site.data.page.list[file_name].zh.desc }}</p>
    <br>
    <ul id="archive">
        {% for cate in site.categories %}
            {% if cate[0] == 'root' %}
        
                {% for post in cate[1] reversed %}
                    {% if post.language == 'zh' %}
                        <li>
                            <h4>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h4>
                        </li>
                    {% endif %}
                {% endfor %}
            
            {% endif %}
        {% endfor %}
        
        {% for cate in site.categories %}
            
            {% if site.data.page.categories contains cate[0] %}
                <li id="{{ cate[0] }}">
                    <h4><a href="./zh_{{ cate[0] }}.html">{{ cate[0] }}/</a></h4>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% for append_f in site.data.page.append_folders %}
<div>
    <h2>{{ site.data.page.list[append_f].zh.title }}</h2>
    <p>{{ site.data.page.list[append_f].zh.desc }}</p>
    <br>
    <ul id="archive">
        {% for cate in site.categories %}
            {% if cate[0] == append_f %}
        
                {% for post in cate[1] reversed %}
                    {% if post.language == 'zh' %}
                        <li>
                            <h4>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h4>
                        </li>
                    {% endif %}
                {% endfor %}
            
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}
